.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.list-group-flush {
  flex-grow: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 0; 
}

.card {
  display: flex;
  flex-direction: column;
}

.list-group-flush {
  flex-grow: 1;
}

.icons {
  /* margin-top: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: flex-end;
  /* padding-top: 0px; 
  border-top: 1px solid #ddd;
  margin-bottom: 1px; */
}


.custom-carousel .carousel-inner {
  padding: 20px; 
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  z-index: 1; 
  margin-left: 10px; 
  margin-right: 10px; 
}

.custom-carousel .carousel-item {
  padding-bottom: 50px; 
}
